.error {
    color: red;
    font-size: 14px;
}

.form {
    margin: 0 auto;
    text-align: center;
    width: 300px;
}

.radio {
    margin-top: 20px;
}

.playbutton {
    width: 120px;
}

.foot {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding-left: 40px;
}

.leaderboard {
    margin: 0 auto;
    text-align: center;
}



